In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../DATA/202_DT_B2_20210517105557.csv", encoding='cp949')
df.tail()

,구·군별,내외국인별,항목,단위,2015. 01 월,2015. 02 월,2015. 03 월,2015. 04 월,2015. 05 월,2015. 06 월,...,2020. 07 월,2020. 08 월,2020. 09 월,2020. 10 월,2020. 11 월,2020. 12 월,2021. 01 월,2021. 02 월,2021. 03 월,Unnamed: 79
2187,철마면,총인구,여자인구,명,3916,3897,3889,3897,3899,3916,...,4063.0,4056.0,4044.0,4033.0,4030.0,4031.0,4017.0,4001.0,3995.0,NaN
2188,철마면,한국인,세대수,세대,3521,3515,3508,3502,3506,3509,...,3852.0,3859.0,3863.0,3849.0,3860.0,3874.0,3867.0,3860.0,3851.0,NaN
2189,철마면,한국인,인구,명,8053,8008,7999,8007,7999,8019,...,8117.0,8110.0,8086.0,8056.0,8066.0,8080.0,8052.0,8026.0,8010.0,NaN
2190,철마면,한국인,남자인구,명,4173,4147,4147,4146,4138,4142,...,4086.0,4084.0,4072.0,4053.0,4065.0,4076.0,4061.0,4051.0,4041.0,NaN
2191,철마면,한국인,여자인구,명,3880,3861,3852,3861,3861,3877,...,4031.0,4026.0,4014.0,4003.0,4001.0,4004.0,3991.0,3975.0,3969.0,NaN

In [3]:
dong_file = open("../DATA/부산_행정동.txt")
dong_list = {}
gu_list = []
curr_dong = ''
for dong in dong_file:
    dong = dong.strip()
    if dong.find('·') == -1:
        curr_dong = dong
        gu_list.append(curr_dong)
    else:
        for don in dong.split(' · '):
            dong_list[don] = curr_dong

print(dong_list)

{'중앙동': '중구', '동광동': '중구', '대청동': '중구', '보수동': '중구', '부평동': '중구', '광복동': '중구', '남포동': '중구', '영주1동': '중구', '영주2동': '중구', '동대신1동': '서구', '동대신2동': '서구', '동대신3동': '서구', '서대신1동': '서구', '서대신3동': '서구', '서대신4동': '서구', '부민동': '서구', '아미동': '서구', '초장동': '서구', '충무동': '서구', '남부민1동': '서구', '남부민2동': '서구', '암남동': '서구', '초량1동': '동구', '초량2동': '동구', '초량3동': '동구', '초량6동': '동구', '수정1동': '동구', '수정2동': '동구', '수정4동': '동구', '수정5동': '동구', '좌천동': '동구', '범일1동': '동구', '범일2동': '동구', '범일5동': '동구', '남항동': '영도구', '영선1동': '영도구', '영선2동': '영도구', '신선동': '영도구', '봉래1동': '영도구', '봉래2동': '영도구', '청학1동': '영도구', '청학2동': '영도구', '동삼1동': '영도구', '동삼2동': '영도구', '동삼3동': '영도구', '부전1동': '부산진구', '부전2동': '부산진구', '연지동': '부산진구', '초읍동': '부산진구', '양정1동': '부산진구', '양정2동': '부산진구', '전포1동': '부산진구', '전포2동': '부산진구', '부암1동': '부산진구', '부암3동': '부산진구', '당감1동': '부산진구', '당감2동': '부산진구', '당감4동': '부산진구', '가야1동': '부산진구', '가야2동': '부산진구', '개금1동': '부산진구', '개금2동': '부산진구', '개금3동': '부산진구', '범천1동': '부산진구', '범천2동': '부산진구', '수민동': '동래구', '복산동': '동래구', '명륜동': '동래구', '온천1동': '동래구', '온천2동': '동래구', '온천3동': '동래구', '사직1동': '동래구', '사직2동': '동래구', '사직3동': '동래구', '안락1동': '동래구', '안락2동': '동래구', '명장1동': '동래구', '명장2동': '동래구', '대연1동': '남구', '대연3동': '남구', '대연4동': '남구', '대연5동': '남구', '대연6동': '남구', '용호1동': '남구', '용호2동': '남구', '용호3동': '남구', '용호4동': '남구', '용당동': '남구', '감만1동': '남구', '감만2동': '남구', '우암동': '남구', '문현1동': '남구', '문현2동': '남구', '문현3동': '남구', '문현4동': '남구', '민우모택동': '남구', '선자욱지동': '남구', '구포1동': '북구', '구포2동': '북구', '구포3동': '북구', '금곡동': '북구', '화명1동': '북구', '화명2동': '북구', '화명3동': '북구', '덕천1동': '북구', '덕천2동': '북구', '덕천3동': '북구', '만덕1동': '북구', '만덕2동': '북구', '만덕3동': '북구', '우1동': '해운대구', '우2동': '해운대구', '우3동': '해운대구', '중1동': '해운대구', '중2동': '해운대구', '좌1동': '해운대구', '좌2동': '해운대구', '좌3동': '해운대구', '좌4동': '해운대구', '송정동': '해운대구', '반여1동': '해운대구', '반여2동': '해운대구', '반여3동': '해운대구', '반여4동': '해운대구', '반송1동': '해운대구', '반송2동': '해운대구', '재송1동': '해운대구', '재송2동': '해운대구', '괴정1동': '사하구', '괴정2동': '사하구', '괴정3동': '사하구', '괴정4동': '사하구', '당리동': '사하구', '감천1동': '사하구', '감천2동': '사하구', '다대1동': '사하구', '다대2동': '사하구', '구평동': '사하구', '장림1동': '사하구', '장림2동': '사하구', '신평1동': '사하구', '신평2동': '사하구', '하단1동': '사하구', '하단2동': '사하구', '서1동': '금정구', '서2동': '금정구', '서3동': '금정구', '금사동': '금정구', '부곡1동': '금정구', '부곡2동': '금정구', '부곡3동': '금정구', '부곡4동': '금정구', '장전1동': '금정구', '장전2동': '금정구', '선두구동': '금정구', '청룡노포동': '금정구', '남산동': '금정구', '구서1동': '금정구', '구서2동': '금정구', '금성동': '금정구', '대저1동': '강서구', '대저2동': '강서구', '강동동': '강서구', '명지1동': '강서구', '명지2동': '강서구', '가락동': '강서구', '녹산동': '강서구', '가덕도동': '강서구', '거제1동': '연제구', '거제2동': '연제구', '거제3동': '연제구', '거제4동': '연제구', '연산1동': '연제구', '연산2동': '연제구', '연산3동': '연제구', '연산4동': '연제구', '연산5동': '연제구', '연산6동': '연제구', '연산8동': '연제구', '연산9동': '연제구', '남천1동': '수영구', '남천2동': '수영구', '수영동': '수영구', '망미1동': '수영구', '망미2동': '수영구', '광안1동': '수영구', '광안2동': '수영구', '광안3동': '수영구', '광안4동': '수영구', '민락동': '수영구', '삼락동': '사상구', '모라1동': '사상구', '모라3동': '사상구', '덕포1동': '사상구', '덕포2동': '사상구', '괘법동': '사상구', '감전동': '사상구', '주례1동': '사상구', '주례2동': '사상구', '주례3동': '사상구', '학장동': '사상구', '엄궁동': '사상구', '기장읍': '기장군', '장안읍': '기장군', '정관읍': '기장군', '일광면': '기장군', '철마면': '기장군'}

In [4]:
def makeDatesColumn():
    dates = []
    for year in range(2015, 2022):
        for month in range(1, 13):
            if year == 2021 and month > 3:
                continue
            dates.append("{0}. {1:0>2} 월".format(year, month))
    return dates

dates = makeDatesColumn()

In [5]:
# for date in dates:
#     df[date] = df[]
print(df['구·군별'].value_counts().index.to_list())

['두구동', '초량6동', '주례3동', '좌4동', '대평동', '청학2동', '신선3동', '연산9동', '광안1동', '좌천2동', '만덕1동', '봉래2동', '당감3동', '범천4동', '서대신4동', '부산광역시', '가야3동', '보수2동', '대연5동', '거제2동', '동광동', '괴정4동', '가야2동', '감천1동', '수민동', '부평동', '대연3동', '부곡2동', '동삼3동', '중앙동', '당감2동', '덕포1동', '강서구', '재송1동', '양정4동', '하단1동', '연산3동', '온천3동', '광복동', '영선2동', '구평동', '동구', '반송3동', '신선2동', '양정1동', '부민동', '구포3동', '수정2동', '서대신3동', '좌천3동', '수정3동', '반여2동', '거제4동', '덕천3동', '서1동', '부암3동', '감전2동', '서대신1동', '가락동', '봉래3동', '반여3동', '당리동', '장전1동', '범천2동', '초읍동', '다대1동', '연지동', '장전3동', '학장동', '재송2동', '대저1동', '온천1동', '화명1동', '초량4동', '용당동', '동삼2동', '기장군', '금정구', '우암동', '부암2동', '장림2동', '연산8동', '우1동', '삼락동', '반송2동', '남포동', '장전2동', '주례1동', '망미1동', '신평1동', '구포2동', '서대신2동', '전포4동', '범일5동', '명장2동', '동삼1동', '노포동', '명륜2동', '청룡노포동', '안락1동', '동대신2동', '덕천1동', '동대신1동', '대연6동', '범일1동', '봉래4동', '영주2동', '서3동', '남부민1동', '충무동', '다대2동', '남구', '괴정3동', '감전동', '중2동', '용호4동', '수정4동', '부곡1동', '감만1동', '전포1동', '남항동', '부산진구', '당감1동', '좌동', '서2동', '구서1동', '광안3동', '수정1동', '용호2동', '감천2동', '괴정2동', '선두구동', '괴정1동', '사직2동', '가덕도동', '전포3동', '녹산동', '구포1동', '오륜동', '모라1동', '석대동', '초량1동', '모라3동', '덕포2동', '금성동', '개금1동', '문현2동', '사직1동', '문현4동', '우2동', '문현1동', '주례2동', '문현3동', '중구', '광안2동', '일광면', '우암1동', '사하구', '연제구', '범일6동', '남부민2동', '북구', '중1동', '개금3동', '동대신3동', '암남동', '서구', '감전1동', '토성동', '명지2동', '좌천1동', '아미2동', '만덕2동', '우암2동', '선동', '만덕3동', '범일4동', '정관읍', '좌2동', '연산1동', '금사회동동', '감만2동', '남산동', '아미동', '문현5동', '동래구', '거제3동', '용호3동', '반여1동', '부곡3동', '초량3동', '좌천동', '신평2동', '대교동', '신선1동', '덕천2동', '명륜동', '철마면', '대청동', '영선1동', '범일2동', '연산7동', '구서2동', '온천2동', '봉래1동', '초장동', '안락2동', '당감4동', '좌천4동', '거제1동', '대연1동', '망미2동', '우3동', '장안읍', '명륜1동', '좌3동', '사직3동', '복산동', '부전1동', '서4동', '초량2동', '청룡동', '범전동', '반여4동', '수영동', '반송1동', '부암1동', '화명2동', '영주1동', '연산2동', '남천1동', '괘법동', '개금2동', '양정2동', '민락동', '하단2동', '대저2동', '송정동', '용호1동', '기장읍', '전포2동', '수정5동', '화명동', '부전2동', '연산5동', '금곡동', '연산6동', '범천1동', '모라2동', '영도구', '해운대구', '수영구', '강동동', '장림1동', '광안4동', '청학1동', '엄궁동', '가야1동', '남천2동', '명장1동', '양정3동', '좌1동', '대연2동', '남부민3동', '사상구', '화명3동', '대연4동', '부곡4동', '부용동', '명지1동', '연산4동', '신선동', '명지동', '보수동']

In [6]:
group_by_data = {}
for i in range(0, len(df.index), 8):
    gu = df["구·군별"][i]
    group_by_data[gu] = df.iloc[i: i + 8, :-1]
group_by_data['장전1동']

,구·군별,내외국인별,항목,단위,2015. 01 월,2015. 02 월,2015. 03 월,2015. 04 월,2015. 05 월,2015. 06 월,...,2020. 06 월,2020. 07 월,2020. 08 월,2020. 09 월,2020. 10 월,2020. 11 월,2020. 12 월,2021. 01 월,2021. 02 월,2021. 03 월
1616,장전1동,총인구,세대수,세대,8786,8841,8911,8874,8880,8859,...,10297.0,10311.0,10350.0,10377.0,10364.0,10392.0,10382.0,10265.0,10396.0,10579.0
1617,장전1동,총인구,인구,명,19776,19781,19896,19814,19819,19750,...,19578.0,19521.0,19506.0,19517.0,19427.0,19428.0,19347.0,19183.0,19283.0,19467.0
1618,장전1동,총인구,남자인구,명,10010,10009,10047,10027,10022,9978,...,9935.0,9902.0,9912.0,9914.0,9889.0,9875.0,9838.0,9766.0,9886.0,9994.0
1619,장전1동,총인구,여자인구,명,9766,9772,9849,9787,9797,9772,...,9643.0,9619.0,9594.0,9603.0,9538.0,9553.0,9509.0,9417.0,9397.0,9473.0
1620,장전1동,한국인,세대수,세대,8786,8841,8911,8874,8880,8859,...,10297.0,10311.0,10350.0,10377.0,10364.0,10392.0,10382.0,10265.0,10396.0,10579.0
1621,장전1동,한국인,인구,명,18634,18656,18693,18617,18615,18510,...,18092.0,18064.0,18075.0,18039.0,17960.0,17972.0,17902.0,17771.0,17879.0,18036.0
1622,장전1동,한국인,남자인구,명,9442,9445,9459,9443,9430,9371,...,9268.0,9246.0,9268.0,9247.0,9219.0,9209.0,9186.0,9121.0,9243.0,9346.0
1623,장전1동,한국인,여자인구,명,9192,9211,9234,9174,9185,9139,...,8824.0,8818.0,8807.0,8792.0,8741.0,8763.0,8716.0,8650.0,8636.0,8690.0

In [117]:
final_data = pd.DataFrame(index = dong_list.keys())
final_data['세대수'] = None
final_data

      세대수
중앙동  None
동광동  None
대청동  None
보수동  None
부평동  None
..    ...
기장읍  None
장안읍  None
정관읍  None
일광면  None
철마면  None

[207 rows x 1 columns]

In [118]:
from sklearn.linear_model import LinearRegression
predictDate = 202105
# 202105 예측결과
for dong_population in group_by_data:
    # print(dong_population)
    X = []
    y = []
    df = group_by_data[dong_population][(group_by_data[dong_population]['항목'] == "세대수") & (group_by_data[dong_population]['내외국인별'] == "총인구")].iloc[:, 4:]
    df = df.dropna()
    # print(df)
    # print(df.dtypes)
    if not df.empty:
        for col in df:
            if df[col].values[0] != '-':
                # print(int(col.split('. ')[0] + col.split(' ')[1]))
                X.append(int(col.split('. ')[0] + col.split(' ')[1]))
                # print(df[col].values[0])
                # print(df[col].values[0])
                y.append(int(df[col].values[0]))
    if X:
        X = np.array(X)
        y = np.array(y)
        reg = LinearRegression().fit(X.reshape(-1, 1), y)
        predict = reg.predict((np.array([[predictDate]])))[0]
        final_data['세대수'][dong_population] = predict
        print(dong_population, predict)
    else:
        print(dong_population, "NO")

부산광역시 1527730.3187716752
중구 23369.31540688471
중앙동 1556.6676842971356
동광동 1866.204541920546
대청동 3490.663881729386
보수동 5829.283647356671
부평동 2675.9375836528707
광복동 645.5655795204511
남포동 680.9869025634762
영주1동 2958.9369839260326
영주2동 3665.0686019181303
보수2동 NO
서구 52969.80571559052
동대신1동 2222.4138128414343
동대신2동 3632.545091054315
동대신3동 3545.561003131119
서대신1동 5651.381043411326
서대신3동 3581.2805935325014
서대신4동 3209.6720952201576
부민동 4313.00876444162
아미동 4024.105543910875
초장동 2713.4366944608482
충무동 5786.832634478284
남부민1동 2703.5485447618194
남부민2동 5030.14706321471
암남동 6555.87283113139
서대신2동 NO
부용동 NO
토성동 NO
아미2동 NO
남부민3동 NO
동구 45162.14767028275
초량1동 2739.150435078069
초량2동 3353.7535251097843
초량3동 5050.544815240661
초량6동 3236.4356720961805
수정1동 1979.67398882196
수정2동 4990.34723681421
수정4동 2322.2749486150715
수정5동 2814.146722879188
좌천동 5494.412822509839
범일1동 7408.593520827359
범일2동 4679.586909695237
범일5동 2303.542031825149
초량4동 NO
수정3동 NO
좌천1동 NO
좌천2동 NO
좌천3동 NO
좌천4동 NO
범일4동 NO
범일6동 NO
영도구 54493.27277758531
남항동 5570.223784469534
영선1동 1918.8426293147095
영선2동 3970.265550063981
신선동 4859.335073936876
봉래1동 3570.774450018049
봉래2동 2381.1524896193296
청학1동 3268.4835576869955
청학2동 8020.523926624017
동삼1동 13092.717536383745
동삼2동 1873.0109131096451
동삼3동 5967.942866358404
대교동 NO
대평동 NO
신선1동 NO
신선2동 NO
신선3동 NO
봉래3동 NO
봉래4동 NO
부산진구 169550.62167634373
부전1동 9465.789594578207
부전2동 5572.6143383118615
연지동 8276.04097358344
초읍동 9418.390750893304
양정1동 9150.020196268451
양정2동 7864.310331860208
전포1동 10698.28665761894
전포2동 11451.770004641556
부암1동 9796.590674891544
부암3동 6666.29329252569
당감1동 10459.985975618227
당감2동 4408.1569303761935
당감4동 5203.871751526007
가야1동 10293.586889575094
가야2동 7087.1136095084075
개금1동 9150.143787425244
개금2동 5027.93404768125
개금3동 12372.931151731322
범천1동 7182.984920670744
범천2동 11205.769854010548
범천4동 NO
전포3동 NO
범전동 NO
당감3동 NO
가야3동 NO
양정3동 NO
양정4동 NO
전포4동 NO
부암2동 NO
동래구 114156.66169499699
수민동 13284.973296570766
복산동 4921.097950517986
명륜동 9745.075364952325
온천1동 10245.006089769799
온천2동 5726.168752061785
온천3동 17077.16889192653
사직1동 4785.083400748612
사직2동 10026.584418291925
사직3동 7506.016852820874
안락1동 6843.9564917895095
안락2동 11366.97381239725
명장1동 5927.639790179002
명장2동 6700.916582970822
명륜1동 NO
명륜2동 NO
남구 118357.73667896469
대연1동 9147.572508582729
대연3동 15105.187089514584
대연4동 5626.375826558564
대연5동 7942.643859391916
대연6동 6736.472437207121
용호1동 17293.34462544811
용호2동 6617.512162479223
용호3동 5681.768004134032
용호4동 3826.6909387476
용당동 3338.782900298378
감만1동 6457.560251502306
감만2동 3336.4470538816704
우암동 5687.300386754214
문현1동 6038.8128333045315
문현2동 5262.152370883618
문현3동 6040.001845333056
문현4동 4219.111584942904
우암1동 NO
우암2동 NO
대연2동 NO
문현5동 NO
북구 121277.22489667963
구포1동 7495.057952295814
구포2동 11981.173496709875
구포3동 9235.134796725964
금곡동 18260.90723223581
화명1동 14900.048209814937
화명2동 6005.48039868605
화명3동 10665.458809458103
덕천1동 6624.130462100264
덕천2동 6614.079117473317
덕천3동 5766.322867683099
만덕1동 4929.573240822239
만덕2동 11367.713136472506
만덕3동 7432.145176201469
화명동 NO
해운대구 170647.9818219263
우1동 8257.4876158447
우2동 11910.17442671489
우3동 10716.283964397502
중1동 10696.095925712434
중2동 7835.71980623086
좌1동 7640.30663927424
좌2동 14007.455087256385
좌3동 6365.913942054408
좌4동 8517.748184334492
송정동 5183.59241260984
반여1동 12488.636888562236
반여2동 6874.851745583663
반여3동 4699.564679796575
반여4동 5967.1274267382105
반송1동 8730.075174637139
반송2동 12172.81076189378
재송1동 15116.232648699079
재송2동 11509.211555008631
반송3동 NO
좌동 NO
석대동 NO
사하구 140163.04218929587
괴정1동 8956.037747404422
괴정2동 6197.9163464431185
괴정3동 6760.67401577608
괴정4동 5166.324896175589
당리동 11641.059521253497
하단1동 10253.031432489573
하단2동 12476.953958973172
신평1동 8691.453658550774
신평2동 6770.324462585908
장림1동 5229.191046995053
장림2동 11796.31083813106
다대1동 16896.551358229466
다대2동 12215.15182460695
구평동 5207.39026826038
감천1동 8373.511673132336
감천2동 3531.1591402882477
금정구 108950.43776203459
서1동 3446.2794643275556
서2동 5122.945520081092
서3동 5947.391520346107
금사회동동 4315.325726468822
부곡1동 4524.231014990612
부곡2동 7319.153294032876
부곡3동 7253.284073070623
부곡4동 6224.644856504237
장전1동 10423.031222801423
장전2동 10008.368790072389
선두구동 1277.84379219322
청룡노포동 4494.3122086851945
남산동 14166.656701555097
구서1동 7994.411885266076
구서2동 13520.042403461732
금성동 489.08661027634207
장전3동 NO
서4동 NO
오륜동 NO
선동 NO
두구동 NO
노포동 NO
청룡동 NO
강서구 59960.81372835394
대저1동 3733.8154430290015
대저2동 3716.1270543217106
강동동 2489.676465308352
명지1동 NO
명지2동 NO
가락동 1432.6308217760234
녹산동 16238.70169111411
가덕도동 2268.221618228461
명지동 NO
연제구 92456.61483284552
거제1동 11422.68904878915
거제2동 3971.4709146857494
거제3동 4792.532504562871
거제4동 4229.0616490050525
연산1동 7152.321893205401
연산2동 8371.42251330649
연산3동 3481.1253899773583
연산4동 8978.129972246184
연산5동 10477.985297608655
연산6동 8243.297416546848
연산8동 6490.357466018468
연산9동 14846.220766893326
연산7동 NO
수영구 84215.71193434624
남천1동 6267.143219152185
남천2동 4649.3478164427215
수영동 7878.569057013228
망미1동 12160.91394812474
망미2동 5220.450996456071
광안1동 13976.832949648495
광안2동 9538.023155044066
광안3동 6052.022767972434
광안4동 5239.0045759584755
민락동 13233.403448533732
사상구 97219.95975213297
삼락동 3184.7612347240065
모라1동 11962.359529482637
모라3동 6888.927344385753
덕포1동 4038.959889058082
덕포2동 5741.770383892039
괘법동 12026.167888732976
감전동 7292.5106544000955
주례1동 6560.9492491276615
주례2동 11067.462609222479
주례3동 5701.620649136134
학장동 12090.512119888168
엄궁동 10663.95820008294
모라2동 NO
감전1동 NO
감전2동 NO
기장군 74778.97023340967
기장읍 25888.76308133325
장안읍 4779.322812013153
정관읍 33296.22947135614
일광면 7272.367265767185
철마면 3542.287602939061

In [119]:
print(final_data.index.to_list())

['중앙동', '동광동', '대청동', '보수동', '부평동', '광복동', '남포동', '영주1동', '영주2동', '동대신1동', '동대신2동', '동대신3동', '서대신1동', '서대신3동', '서대신4동', '부민동', '아미동', '초장동', '충무동', '남부민1동', '남부민2동', '암남동', '초량1동', '초량2동', '초량3동', '초량6동', '수정1동', '수정2동', '수정4동', '수정5동', '좌천동', '범일1동', '범일2동', '범일5동', '남항동', '영선1동', '영선2동', '신선동', '봉래1동', '봉래2동', '청학1동', '청학2동', '동삼1동', '동삼2동', '동삼3동', '부전1동', '부전2동', '연지동', '초읍동', '양정1동', '양정2동', '전포1동', '전포2동', '부암1동', '부암3동', '당감1동', '당감2동', '당감4동', '가야1동', '가야2동', '개금1동', '개금2동', '개금3동', '범천1동', '범천2동', '수민동', '복산동', '명륜동', '온천1동', '온천2동', '온천3동', '사직1동', '사직2동', '사직3동', '안락1동', '안락2동', '명장1동', '명장2동', '대연1동', '대연3동', '대연4동', '대연5동', '대연6동', '용호1동', '용호2동', '용호3동', '용호4동', '용당동', '감만1동', '감만2동', '우암동', '문현1동', '문현2동', '문현3동', '문현4동', '민우모택동', '선자욱지동', '구포1동', '구포2동', '구포3동', '금곡동', '화명1동', '화명2동', '화명3동', '덕천1동', '덕천2동', '덕천3동', '만덕1동', '만덕2동', '만덕3동', '우1동', '우2동', '우3동', '중1동', '중2동', '좌1동', '좌2동', '좌3동', '좌4동', '송정동', '반여1동', '반여2동', '반여3동', '반여4동', '반송1동', '반송2동', '재송1동', '재송2동', '괴정1동', '괴정2동', '괴정3동', '괴정4동', '당리동', '감천1동', '감천2동', '다대1동', '다대2동', '구평동', '장림1동', '장림2동', '신평1동', '신평2동', '하단1동', '하단2동', '서1동', '서2동', '서3동', '금사동', '부곡1동', '부곡2동', '부곡3동', '부곡4동', '장전1동', '장전2동', '선두구동', '청룡노포동', '남산동', '구서1동', '구서2동', '금성동', '대저1동', '대저2동', '강동동', '명지1동', '명지2동', '가락동', '녹산동', '가덕도동', '거제1동', '거제2동', '거제3동', '거제4동', '연산1동', '연산2동', '연산3동', '연산4동', '연산5동', '연산6동', '연산8동', '연산9동', '남천1동', '남천2동', '수영동', '망미1동', '망미2동', '광안1동', '광안2동', '광안3동', '광안4동', '민락동', '삼락동', '모라1동', '모라3동', '덕포1동', '덕포2동', '괘법동', '감전동', '주례1동', '주례2동', '주례3동', '학장동', '엄궁동', '기장읍', '장안읍', '정관읍', '일광면', '철마면']

In [120]:
price = pd.read_csv("../DATA/매출액.csv")
price = price.iloc[:, 1:]
floating_popu = pd.read_csv("../DATA/유동인구.csv")
floating_popu = floating_popu.iloc[:, 1:]

In [121]:
for col in price.columns:
    if col != 'loc':
        final_data[col] = None
for col in floating_popu.columns:
    if col != 'loc':
        final_data[col] = None

In [122]:
for row in price.iterrows():
    dong = price['loc'][row[0]].split(' ')[2]
    for col in price.columns:
        if col != 'loc':
            final_data[col][dong] = price[col][row[0]]

In [123]:
for row in floating_popu.iterrows():
    dong = floating_popu['loc'][row[0]].split(' ')[2]
    for col in floating_popu.columns:
        if col != 'loc':
            final_data[col][dong] = floating_popu[col][row[0]]

In [124]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 207 entries, 중앙동 to 철마면
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   세대수             202 non-null    object
 1   202003_maxAmt   189 non-null    object
 2   202003_minAmt   189 non-null    object
 3   202003_saleAmt  189 non-null    object
 4   202004_maxAmt   189 non-null    object
 5   202004_minAmt   189 non-null    object
 6   202004_saleAmt  189 non-null    object
 7   202005_maxAmt   189 non-null    object
 8   202005_minAmt   189 non-null    object
 9   202005_saleAmt  189 non-null    object
 10  202006_maxAmt   189 non-null    object
 11  202006_minAmt   189 non-null    object
 12  202006_saleAmt  189 non-null    object
 13  202007_maxAmt   189 non-null    object
 14  202007_minAmt   189 non-null    object
 15  202007_saleAmt  189 non-null    object
 16  202008_maxAmt   189 non-null    object
 17  202008_minAmt   189 non-null    object
 18  202008_saleAmt  189 non-null    object
 19  202009_maxAmt   189 non-null    object
 20  202009_minAmt   189 non-null    object
 21  202009_saleAmt  189 non-null    object
 22  202010_maxAmt   189 non-null    object
 23  202010_minAmt   189 non-null    object
 24  202010_saleAmt  189 non-null    object
 25  202011_maxAmt   189 non-null    object
 26  202011_minAmt   189 non-null    object
 27  202011_saleAmt  189 non-null    object
 28  202012_maxAmt   189 non-null    object
 29  202012_minAmt   189 non-null    object
 30  202012_saleAmt  189 non-null    object
 31  202101_maxAmt   189 non-null    object
 32  202101_minAmt   189 non-null    object
 33  202101_saleAmt  189 non-null    object
 34  202102_maxAmt   189 non-null    object
 35  202102_minAmt   189 non-null    object
 36  202102_saleAmt  189 non-null    object
 37  202103_maxAmt   189 non-null    object
 38  202103_minAmt   189 non-null    object
 39  202103_saleAmt  189 non-null    object
 40  guAmt           189 non-null    object
 41  guMax           189 non-null    object
 42  guMin           189 non-null    object
 43  prevMonCnt      189 non-null    object
 44  prevYearCnt     189 non-null    object
 45  saleCnt         189 non-null    object
 46  day             189 non-null    object
 47  dayAvg          189 non-null    object
 48  fifthHour       189 non-null    object
 49  firstHour       189 non-null    object
 50  fourthHour      189 non-null    object
 51  fri             189 non-null    object
 52  mon             189 non-null    object
 53  sat             189 non-null    object
 54  secondHour      189 non-null    object
 55  sixthHour       189 non-null    object
 56  sun             189 non-null    object
 57  thirdHour       189 non-null    object
 58  thur            189 non-null    object
 59  tues            189 non-null    object
 60  wed             189 non-null    object
 61  weekend         189 non-null    object
dtypes: object(62)
memory usage: 110.0+ KB